pattern program

In [0]:
rows=int(input("enter number of rows"))
for i in range (0,rows):
  for j in range(0,i+1):
    print("*",end=' ')


  print("\n")

enter number of rows5
*

* *

* * *

* * * *

* * * * *

MULTIPLICATION TABLE OF K

In [0]:
num=int(input("enter the number"))
for i in range(1, 11):
  print(num, 'x', i, '=', num*i)

enter the number5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

ROOTS OF A QUADRATIC EQUATION

In [0]:
import cmath
a=int(input("enter a value"))
b=int(input("enter b value"))
c=int(input("enter c value"))
d= (b**2) - (4*a*c)
sol1 =(-b-cmath.sqrt(d))/(2*a)
sol2 =(-b-cmath.sqrt(d))/(2*a)
print('the solution are {0} and {1}'.format(sol1,sol2))

enter a value1
enter b value5
enter c value6
the solution are (-3+0j) and (-3+0j)

CONVERSION OF DECIMAL INTO BINARY

In [0]:
def convertToBinary(n):
  if n>1:
      convertToBinary(n//2)
  print(n % 2,end = '')
dec = int(input("enter the decimal number"))
convertToBinary(dec)
print()

enter the decimal number110
1101110